html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #111;
    font-size: 14px;
    letter-spacing: -0.28px;
    background: #FAFAFA;
}

*:hover {
    transition: var(--animation);
}
