html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #111;
    font-size: 14px;
    letter-spacing: -0.28px;
    background: #FAFAFA;
    overflow: auto;
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: var(--bgColor);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--hoverColor);
    border-radius: 35px;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

*:hover {
    transition: var(--animation);
}

button {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}


.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: rgba(17, 17, 17, 0.7);
    transition: var(--animation);
}

.swiper-pagination-bullet-active {
    width: 28px;
    height: 13px;
    background-color: var(--hoverColor);
    border-radius: 20px;
}