.footer {
  background-color: var(--bgColor);
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer__title {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 116.667%;
  letter-spacing: -0.48px;
  margin-bottom: 32px;
  width: 300px;
}

.footer__title span {
  color: var(--hoverColor);
}

.footer__contact__info {
  display: flex;
  justify-content: space-between;
}

.footer__contact {
  display: flex;
  flex-direction: column;
}

.contact__us {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 128.571%;
  margin-bottom: 14px;
}

.footer__contact a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 128.571%;
  letter-spacing: -0.28px;
}

.contact__us + a {
  margin-bottom: 4px;
}

.footer__contact__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__info {
  margin-bottom: 32px;
}

.footer__social__icon__image:first-child {
  margin-right: 14px;
}

.footer__social__icon__image {
  width: 22px;
  height: 22px;
  stroke: var(--basicColor);
  fill: currentColor;
  cursor: pointer;
}

.footer__social__icon__image:hover {
  stroke: var(--hoverColor);
}

.footer hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__menu {
  margin-top: 24px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer_list_link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.28px;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.footer_list_link:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -5px;
  background: var(--hoverColor);
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 10px;
}

.footer_list_link:hover:before,
.footer_list_link:focus:before,
.footer_list_link:active:before {
  right: 0;
}

/* Tablet */

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

/* Desktop */

@media screen and (min-width: 1200px) {
  .footer__title {
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.56px;
    width: 300px;
  }
}
