.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}


.footer__title {
  color: #fff;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.56px;
  margin-bottom: 32px;
}

.footer__title span {
  color: #fd9222;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  margin-right: 63px;
}

.contact__us {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}

.footer__contact a {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.footer__contact__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}


.footer__social__icon__image {
  width: 24px;
  height: 24px;
  stroke: var(--basicColor);
  cursor: pointer;
}

.footer__social__icon__image:hover {
  stroke: var(--hoverColor);
}

.footer hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__menu {
  margin-top: 24px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer_list_link {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.28px;


  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.footer_list_link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -5px;
  background: var(--hoverColor);
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 10px;
}
.footer_list_link:hover:before, .footer_list_link:focus:before, .footer_list_link:active:before {
  right: 0;
}



/* Tablet */

@media screen and (min-width: 768px) {
  .footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

/* Desktop */

@media screen and (min-width: 1200px) {
  .footer__title {
    /* color: #fff;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.56px;
    width: 300px;
    margin-right: 543px; */
  }
}
