.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__container {
}

.footer__slogan {
}

.footer__title {
  color: #fff;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.56px;
  width: 300px;
  margin-right: 543px;
}

.footer__title span {
  color: #fd9222;
}

.footer__contact {
}

.contact__us {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}

.footer__contact a {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.footer__info {
  display: flex;
  flex-direction: row;
}

.footer__social__icon {
}
.footer__social__icon__image {
}

.footer hr {
}

.footer__menu {
  margin-top: 24px;
}

.footer__list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.footer_list_link {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.28px;
}
