.header__section {
    padding-top: 28px;
    margin-bottom: 25px;
}

.logo {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.54px;
    margin-right: 4px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon__logo {
    width: 21px;
    height: 21px;
}

.logo__content {
    display: flex;
    align-items: center;
}

.simply__logo {
    font-style: italic;
    margin-right: 4px;
}

.nav__list {
    display: none;
}

.nav__list__item {
    font-weight: 500;
    line-height: 16px
}

.burger__button {
    border: none;
    background-color: transparent;
    stroke: var(--mainColor)
}

.burger__icon {
    width: 28px;
    height: 28px;
}

.burger__button__tablet {
    display: none;
}

.nav__list__link {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.nav__list__link:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -5px;
    background: var(--hoverColor);
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 10px;
}

.nav__list__link:hover:before,
.nav__list__link:focus:before,
.nav__list__link:active:before {
    right: 0;
}

.nav__icons__list {
    display: none;
}

.nav__list__item:hover,
.nav__list__item:focus {
    color: #FD9222;
    transition: 50ms;
}

.nav__list__icon {
    fill: var(--basicColor);
    stroke: var(--mainColor);
}

.nav__list__icon:first-child {
    margin-right: 18px;
}

.nav__list__icon:hover {
    stroke: var(--hoverColor);
    transition: 100ms;
}

@media screen and (min-width: 768px) {
    .burger__button {
        display: none;
    }

    .burger__button__tablet {
        display: block;
        border: none;
        background-color: transparent;
        stroke: var(--mainColor)
    }

    .burger__icon_tablet {
        width: 32px;
        height: 32px;
    }
}


@media screen and (min-width: 1200px) {
    .logo {
        font-size: 18px;
    }

    .icon__logo {
        width: 24px;
        height: 24px;
    }

    .header__nav {
        display: flex;
        justify-content: space-between;
    }

    .nav__list {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .nav__icons__list {
        display: flex;
        align-items: center;
    }

    .burger__button__tablet {
        display: none;
    }
}