.hero__section {
    min-height: 621px;
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%),
        url('/img/mobile/hero-mobile.jpg');
    background-color: var(--bgColor);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /* margin: 0 auto; */
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero__section {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%),
            url('/img/mobile/hero-mobile@2x.jpg');
    }
}

.hero__title {
    max-width: 280px;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.6px;
    margin-bottom: 32px;
}

.hero__list {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.buy {
    margin-right: 14px;
    padding: 12px 28px;
    border-radius: 100px;
    background: #FD9222;
    color: #FFF;
    border: none;
    cursor: pointer;
    color: #FFF;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.how {
    padding: 12px 28px;
    border-radius: 100px;
    border: 1px solid #FFF;
    background: inherit;
    color: #FFF;
    cursor: pointer;
    color: #FFF;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hero__button {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    transition: var(--animation);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hero__button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transition: var(--animation);
    border-radius: 100px;
  }

.hero__button:hover, .hero__button:focus, .hero__button:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #FD9222;
    background-color: #FFF;
    transition: var(--animation);
  }

  .hero__button:hover:before, .hero__button:focus:before, .hero__button:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transition: var(--animation);
  }

.hero__link {
    color: #FFF;
    font-size: 13px;
    margin-right: 12px;
    margin-left: 20px;
}

.scroll__icon {
    width: 28px;
    height: 28px;
    padding: 6px;
    background-color: #FFF;
    border-radius: 50%;
    transition: var(--animation);
}

.hero__link__icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero__link__icon:hover .scroll__icon {  
    padding-bottom: 0px;
}



/* Tablet */

@media screen and (min-width: 768px) {
    .hero__section {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%),
            url('/img/tablet/hero-tablet.jpg');
        position: relative;
        min-height: 890px;
    }

    .hero__title {
        max-width: 484px;
        font-size: 28px;
        letter-spacing: -0.84px;
        padding-left: 20px;
        line-height: 34px;
    }

    .buy {
        width: 144px;
        padding: 14px 40px;
    }

    .how {
        width: 183px;
        padding: 12px 28px;
    }

    .hero__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 22px;
    }

    .hero__link {
        /* position: absolute; */
        right: 0;
        margin-right: 14px;
    }

    .scroll__icon {
        width: 38px;
        height: 38px;
        padding: 8px;
        margin-right: 40px;
        transition: var(--animation);
    }


    .hero__link__icon {
        padding-bottom: 30px;
    }
}

@media (min-device-pixel-ratio:2) and (min-width:768px),
(min-resolution: 192dpi) and (min-width:768px),
(min-resolution: 2dppx) and (min-width:768px) {
    .hero__section {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%),
            url('/img/tablet/hero-tablet@2x.jpg');
    }
}

/* Desktop */

@media screen and (min-width: 1200px) {
    .hero__section {
        min-height: 600px;
        background-image:
            linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%), url('/img/desktop/hero-desktop.jpg');
    }

    .hero__title {
        width: 550px;
        font-size: 30px;
        letter-spacing: -0.84px;
        line-height: 34px;
    }

    .hero__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hero__link {
        padding-left: 500px;
    }
}

@media (min-device-pixel-ratio:2) and (min-width:1200px),
(min-resolution: 192dpi) and (min-width:1200px),
(min-resolution: 2dppx) and (min-width:1200px) {
    .hero__section {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%), url('/img/desktop/hero-desktop@2x.jpg');
    }
}