.hero__section {
    background-image: url(../img/mobile/hero-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 72px;
}

.hero__title {
    width: 320px;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.6px;

    padding-top: 395px;
    padding-left: 20px;
    margin-bottom: 32px;
}

.hero__list {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 30px;
}

.buy {
    width: 120px;
    height: 45px;
    display: flex;
    margin-right: 14px;
    padding: 12px 28px;
    border-radius: 100px;
    background: #FD9222;
    color: #FFF;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.how {
    display: flex;
    width: 159px;
    height: 45px;
    padding: 12px 28px;
    align-items: center;
    justify-content: center;
    gap: 14px;
    border-radius: 100px;
    border: 1px solid #FFF;
    background: inherit;
    color: #FFF;
    cursor: pointer;
}

.hero__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__link {
    color: #FFF;
    padding-left: 20px;
    font-size: 13px;
}

.hero__content {
    padding-bottom: 30px;
}

.scroll__icon {}

.buy:hover {
    background: #FCF1E0;
    color: #FD9222;
}

.how:hover {
    border: 1px solid #FD9222;
    color: #FD9222;
}

/* Tablet */

@media screen and (min-width: 768px) {
    .hero__section {
        background-image: url('../img/tablet/hero-tablet.jpg');
    }

    .hero__title {
        width: 540px;
        font-size: 28px;
        letter-spacing: -0.84px;
        padding-left: 40px;
        line-height: 34px;
    }

    .buy {
        width: 144px;
        padding: 14px 40px;
    }

    .how {
        width: 183px;
        padding: 12px 28px;
    }

    .hero__content {
        display: flex;
        align-items: ce;
        justify-content: space-between;
        padding-bottom: 20px;
        padding-left: 22px;
    }

    .hero__link {
        color: #FFF;
        font-size: 15px;
        position: absolute;
        right: 0;
        padding-right: 120px;
    }
}

/* Desktop */

@media screen and (min-width: 1200px) {
    .hero__section {
        background-image: url('../img/desktop/hero-desktop.jpg');
    }

    .hero__title {
        width: 550px;
        font-size: 30px;
        letter-spacing: -0.84px;
        padding-left: 40px;
        line-height: 34px;
    }

    .hero__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}