.ingredients__section {

}

.ingredients__text__thumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.igredients__title {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    margin-bottom: 28px;
    width: 411px;
}

.igredients__title__span {
    color: #FD9222;
       
}

.ingredients__text {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    width: 486px;
}

.ingredients__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.ingredients__list__item {
    padding: 28px;
    border-radius: 15px;
    border: 1px solid #FD9222;
}

.ingredients__section h4 {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.28px;
    text-transform: uppercase;
}

.orange {
    background-color: #FD9222;
    color: white;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
    color: white;
}

