/* Mobile */

.ingredients__section {
  background-color: #fafafa;
}

.ingredients__text__thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.igredients__title {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  margin-bottom: 28px;
  width: 283px;
}

.igredients__title__span {
  color: #fd9222;
}

.ingredients__text {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-bottom: 32px;
}

.ingredients__list {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap; */
}

.ingredients__list__item {
  width: 335px;
  height: 270px;
  padding: 28px;
  border-radius: 15px;
  border: 1px solid #fd9222;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ingredients__section h4 {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

.orange {
  background-color: #fd9222;
  color: white;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
  color: white;
}

/* Tablet */
@media screen and (min-width: 768px) {

  .ingredients__section {
    padding-bottom: 100px;
  }

  .ingredients__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .ingredients__list__item:last-child {
    order: 3;
  }

  .black {
    order: 4;
  }

}

/* Desktop */

@media screen and (min-width: 1200px) {
  .ingredients__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
  }

  .ingredients__list__item {
    width: 270px;
    height: 270px;
    flex-basis: calc((100% - 4 * 30px) / 4);
    padding: 28px;
    border-radius: 15px;
    border: 1px solid #fd9222;
  }

  .ingredients__list__item:last-child {
    order: 4;
  }

  .black {
    order: 3;
  }


  .ingredients__text {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    width: 486px;
  }

  .ingredients__text {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    width: 486px;
  }
}