.products__title {
    color: var(--mainColor);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.products__title__span {
    color: var(--hoverColor);
}

.products__swiper {
    padding-bottom: 40px;
}

.products__item {
    max-width: 100%;
    padding: 32px 52px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(17, 17, 17, 0.10);
    border-radius: 15px;
    background: #FFF;
    transition: var(--animation);
    cursor: pointer;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.products__item:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--hoverColor);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 15px;
  }

  .products__item:hover:before, .products__item:focus:before, .products__item:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }

.products__item:hover,
.products__item:focus,
.products__item:active {
    background-color: var(--hoverbgColor);
    border: 1px solid var(--hoverColor);
}

.products__item__img {
    padding-bottom: 8px;
}

.products__item__title {
    color: var(--mainColor);
    font-size: 18px;
    font-weight: 600;
    line-height: 133.33%;
    letter-spacing: -0.36px;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.products__item__text {
    color: rgba(17, 17, 17, 0.70);
    font-size: 12px;
    font-weight: 400;
    line-height: 116.667%;
    letter-spacing: -0.24px;
    margin-bottom: 18px;
}

.products__item__price {
    color: var(--mainColor);

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;

    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FAFAFA;
    padding: 8px 20px;
    
    transition: var(--animation);
}


.products__item__price:hover {
    background-color: var(--mainColor);
    color: var(--hoverColor);
    transform: scale(1.2);
}

.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: rgba(17, 17, 17, 0.7);
    transition: var(--animation);
}

.swiper-pagination-bullet-active {
    width: 28px;
    height: 13px;
    background-color: var(--hoverColor);
    border-radius: 20px;
}


@media screen and (min-width: 768px) {
    .products__title {
        font-size: 24px;
        line-height: 116.667%;
        letter-spacing: -0.72px;
        margin-bottom: 50px;
    }

    .products__swiper {
        padding-bottom: 50px;
    }

    .products__item {
        max-width: 270px;
        padding: 32px 20px;
    }
}

@media screen and (min-width:1200px) {
    .products__title {
        font-size: 24px;
        line-height: 116.667%;
        letter-spacing: -0.72px;
        margin-bottom: 50px;
    }

    .products__swiper {
        padding-bottom: 50px;
    }

    .products__item {
        max-width: 270px;
        padding: 32px 20px;
    }
}