.products {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
}

.products__title {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.products__title__span {
    color: #FD9222;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.products__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    flex-wrap: wrap;
}

.products__item {
    width: 270px;
    height: 364px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    margin: 18px;
    transition: var(--animation);
}

.products__item:first-child {
    margin-left: 33px;
}

.products__item:last-child {
    margin-right: 33px;
}

.products__item:hover {
    background-color: var(--hoverbgColor);
    border: 1px solid var(--hoverColor);
}


.products__item__img {
    padding-bottom: 8px;
}

.products__item__title {
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: uppercase;
    margin: 0px;
}

.products__item__text {
    color: rgba(17, 17, 17, 0.70);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.24px;
    padding-bottom: 18px;
}

.products__item__price {
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FAFAFA;
    display: flex;
    width: 94px;
    padding: 8px 20px;
    transition: var(--animation);
}

.products__item__price:hover {
    border: 1px solid var(--mainColor);
    background-color: var(--bgColor);
    color: var(--hoverColor);
}