body {
    background: #FAFAFA;
}


.products__title {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.products__title__span {
    color: #FD9222;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.products__swiper {
    padding-bottom: 40px;
}

.products__list {

}



.products__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
}


.products__item__img {
    padding-bottom: 8px;
}

.products__item__title {
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: uppercase;
    margin: 0px;
}

.products__item__text {
    color: rgba(17, 17, 17, 0.70);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.24px;
    padding-bottom: 18px;
}

.products__item__price {
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FAFAFA;
    display: flex;
    width: 94px;
    padding: 8px 20px;
}

.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: rgba(17, 17, 17, 0.10);
    transition: var(--animation);
}

.swiper-pagination-bullet-active {
    width: 28px;
    height: 13px;
    background-color: #FD9222;
    border-radius: 20px;
}