.review__section {
    margin-top: 128px;
    margin-bottom: 128px;
}

.review__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-align: center;
    margin-bottom: 91px;
}

.review__choco {
    color: var(--hoverColor);
}


.review__swiper {
    padding-bottom: 57px;
}




.review__item {
    
    margin-top: 51px;

    position: relative;
    text-align: center;
    width: 335px;
    height: 200px;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    box-shadow: 0px 9.04932px 26.57166px 0px rgba(215, 228, 249, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.review__image {
    position: absolute;
    margin-bottom: 20px;
    left: 39%;
    top: -23%;
}

.review__item__name {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 25px;
    margin-top: 55px;
}

.review__item__text {
    color: rgba(17, 17, 17, 0.70);
    font-size: 15px;
    line-height: 18px;
    max-width: 299px;
}

.review__button {
    display: flex;
    font-weight: 600;
    width: 222px;
    height: 50px;
    padding: 14px 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
    border-radius: 100px;
    border: 1px solid var(--hoverColor);
    background-color: transparent;

    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 50px;
}

.review__item:hover {
    transform: scale(1.025);
}

.review__button:hover {
    border-radius: 100px;
    background: var(--hoverColor);
    color: #FFF;
    transition: var(--animation);
}

.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: rgba(17, 17, 17, 0.7);
    transition: var(--animation);
}

.swiper-pagination-bullet-active {
    width: 28px;
    height: 13px;
    background-color: var(--hoverColor);
    border-radius: 20px;
}

/* Tablet */

@media screen and (min-width:768px) {
    .review__item {
        width: 344px;
    }

    .review__item__text {
        max-width: 312px;
    }
}

/* Desktop */

@media screen and (min-width:1200px) {
    .review__item {
        width: 360px;
    }
}