/* Tablet */

/* Desktop */

.subscribe__section {
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: url('/img/desktop/subcribe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe__thumb {
  width: 467px;
  margin: 0 auto;
}

.subscribe__title {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  width: 378px;
  margin-bottom: 24px;
}

.subscribe__text {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  width: 467px;
  margin-bottom: 24px;
}

.subscribe__button {
  border-radius: 100px;
  background: #fd9222;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  padding: 14px 40px;
  border: none;
}
