.mobile__menu {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    width: 220px;
    height: 100vh;
    overflow: auto;
    background-color: #1E1823;

    color: #FFF;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.28px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transform: translateX(100%);

    &.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
        transition: opacity 250ms ease-in, transform 250ms ease-in;
    }
}

.mobile__menu__container {
    position: relative;
    padding-left: 0;
    padding-bottom: 0;
}

.menu {
    display: block;
}

.close__btn {
    top: 20px;
    right: 20px;
    position: absolute;
    border: none;
    background-color: transparent;
    stroke: var(--mainColor);
}

.close__btn__icon {
    width: 28px;
    height: 28px;
    stroke: #FFF;
}

.menu__list {
    padding-top: 136px;
    padding-left: 50px;
}

.menu__list__item:not(:last-child) {
    margin-bottom: 24px;
}

.menu__social__list {
    position: fixed;
    bottom: 20px;
    padding-left: 20px;
    display: flex;
    gap: 18px;
}

.menu__social__icon {
    fill: #1E1823;
    stroke: #FFF;
}

.menu__social__icon:hover {
    stroke: #FD9222;
}

.menu__list__item:hover {
    color: #FD9222;
}

.close__btn__icon:hover {
    stroke: #FD9222;
}

/* Tablet */

@media screen and (min-width: 768px) {
    .mobile__menu {
        width: 290px;
    }

    .close__btn__icon {
        width: 32px;
        height: 32px;
    }

    .menu__list {
        padding-left: 85px;
    }

    .menu__social__list {
        padding-left: 32px;
        padding-bottom: 4px;
    }
}

/* Desktop */

@media screen and (min-width: 1200px) {
    .mobile__menu {
        display: none;
    }
}