.backdrop .is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal__close {
    margin-top: 14px;
}

.modal__title {
    text-align: center;
    margin-bottom: 32px;
    font-weight: 600;
}

.modal__buy {
    color: #FD9222;
}

.modal__list {
    text-align: center;
    margin-bottom: 40px;
}

.modal__list__item {
    background-color: #FFF;
    border: 1px solid rgba(17, 17, 17, 0.10);
    border-radius: 15px;
    width: 160px;
    height: 196px;
    padding: 24px 20px 18px 20px;
}

.modal__list__button {
    margin-top: 14px;
    font-weight: 600;
    padding: 8px 27px 8px 27px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FAFAFA;
}

.modal__input__title {
    color: #000;
    line-height: 18px;
    font-weight: 500;
}

.personal__info {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 18px;
}

.name,
.surname {
    background-color: transparent;
    margin-top: 8px;
    width: 246px;
    height: 66px;
    border-radius: 13px;
    border: 2px solid rgba(17, 17, 17, 0.05);
    cursor: pointer;

    &:focus {
        outline: none;
        border-color: #FD9222;
    }
}

input::placeholder {
    font-size: 18px;
    color: rgba(64, 64, 64, 0.30);
    font-weight: 400;
    letter-spacing: -0.36px;
    padding: 22px 24px;
}

.modal__form__input {
    background-color: transparent;
    margin-top: 8px;
    width: 100%;
    height: 66px;
    border-radius: 13px;
    border: 2px solid rgba(17, 17, 17, 0.05);
    cursor: pointer;
    
        &:focus {
            outline: none;
            border-color: #FD9222;
        }
}

.email {
    margin-bottom: 18px;
}

.phone {
    margin-bottom: 18px;
}

.card {
    margin-bottom: 18px;
}

.modal__form__input__comment {
    width: 100%;
    height: 137px;
    padding-bottom: 65px;
    border-radius: 13px;
    border: 2px solid rgba(17, 17, 17, 0.05);
    background-color: transparent;
    margin-top: 8px;
    cursor: pointer;

    &:focus {
       outline: none;
       border-color: #FD9222;
    }
}

.modal__button {
    margin-top: 18px;
    padding: 14px 40px;
    color: #FFF;
    font-weight: 600;
    background-color: #FD9222;
    border-radius: 100px;
}

.modal__button:hover {
    background-color: #FCF1E0;
    color: #FD9222;
    transition: var(--animation);
}

.modal__list__button:hover {
    color: #FD9222;
    background-color: #000;
    transition: var(--animation);
}

.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: rgba(17, 17, 17, 0.7);
    transition: var(--animation);
}

.swiper-pagination-bullet-active {
    width: 28px;
    height: 13px;
    background-color: var(--hoverColor);
    border-radius: 20px;
}

.modal__swiper {
    padding-bottom: 42px;
}

@media screen and (min-width:768px) {
    .modal__close {
        margin-top: 24px;
    }
}