.modal__title {
    text-align: center;
    margin-bottom: 32px;
    font-weight: 600;
}

.modal__buy {
    color: #FD9222;
}

.modal__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    text-align: center;
    margin-bottom: 40px;
}

.modal__list__item {
    background-color: #FFF;
    border: 1px solid rgba(17, 17, 17, 0.10);
    border-radius: 15px;
    width: 160px;
    height: 196px;
    padding: 24px 20px 18px 20px;
}

.modal__list__button {
    margin-top: 14px;
    font-weight: 600;
    padding: 8px 27px 8px 27px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FAFAFA;
}

.personal__info {
    display: flex;
    align-items: end;
}

.modal__input__title {
    color: #000;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 8px;
}