.thanks-review {
    background-color: var(--hoverColor);
    width: 311px;
    height: 350px;
    border-radius: 15px;
}

.thanks-review__btn {
    width: 16px;
    height: 16px;
    padding: 12px;
    stroke: var(--mainColor);
    background: var(--basicColor);
    border-radius: 100%;
}

.thanks-review__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: #FCF1E0;
    width: 229px;
    margin: 84px 24px 218px 58px;

}

.thanks-review__description {
    width: 229px;
    color: #FFF;
    line-height: 114.286%;
    letter-spacing: -0.28px;
}