<section id="advantages" class="advatages__section section">
  <div class="container">
    <ul class="advantages__list">
      <li class="advantages__list__item">
        <svg class="advantages__icon advantages__first-icon">
          <use
            href="/img/icons/symbol-defs.svg#icon-fluent-emoji-high-contrast_chocolate-bar"
          ></use>
        </svg>
        <h3 class="advantages__title">Unsurpassed taste</h3>
        <p class="advantages__text">
          Crafted with the finest quality cocoa beans and a dedication to
          perfection, each bite is a decadent experience that simply cannot be
          matched. Savor the richness and complexity of our Unsurpassed Taste
          and discover a new level of chocolate bliss.
        </p>
      </li>
      <li class="advantages__list__item">
        <svg class="advantages__icon advantages__second-icon">
          <use href="/img/icons/symbol-defs.svg#icon-coin"></use>
        </svg>
        <h3 class="advantages__title">Affordable price</h3>
        <p class="advantages__text">
          Indulge in high-quality chocolate without breaking the bank with
          Simply Chocolate's selection of affordable treats. Enjoy
          mouth-watering truffles and velvety chocolate bars without sacrificing
          taste or quality. Browse our selection and indulge in affordable
          luxury today.
        </p>
      </li>
      <li class="advantages__list__item">
        <svg class="advantages__icon advantages__third-icon">
          <use href="/img/icons/symbol-defs.svg#icon-la_utensil-spoon"></use>
        </svg>
        <h3 class="advantages__title">Own production</h3>
        <p class="advantages__text">
          We take pride in our own production process, ensuring that every step
          is carefully crafted to perfection. From selecting the finest
          ingredients to handcrafting each piece, our attention to detail is
          evident in every bite.
        </p>
      </li>
    </ul>
  </div>
</section>
