<!-- Footer -->

<footer class="footer">
  <div class="footer__container container reveal">
    <div class="footer__info">
      <h2 class="footer__title">
        <span>Chocolate</span> a delicious <br />
        cure for a bad day
      </h2>
      <div class="footer__contact__info">
        <div class="footer__contact">
          <h4 class="contact__us">Contact us</h4>
          <a href="tel:+380 (68) 443-94-26">+380 (68) 443-94-26</a>
          <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
        </div>
        <div class="footer__social__icon">
          <svg class="footer__social__icon__image">
            <use href="/img/icons/symbol-defs.svg#icon-instagram"></use>
          </svg>
          <svg class="footer__social__icon__image">
            <use href="/img/icons/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </div>
      </div>
    </div>
    <hr />
    <div class="footer__menu">
      <ul class="footer__list">
        <li><a href="#header" class="footer_list_link">Home</a></li>
        <li><a href="#made" class="footer_list_link">How it’s made?</a></li>
        <li><a href="#products" class="footer_list_link">Our products</a></li>
        <li><a href="#sellers" class="footer_list_link">Top sellers</a></li>
        <li><a href="#review" class="footer_list_link">Chocolate is loved</a></li>
      </ul>
    </div>
  </div>
</footer>
