<header id="header" class="header__section">
  <div class="container">
    <nav class="header__nav">
      <div class="logo__content">
        <a class="logo" href="#"
          ><span class="simply__logo">SIMPLY</span>CHOCOLATE</a
        >
        <svg class="icon__logo">
          <use href="./img/icons/symbol-defs.svg#icon-chocolate"></use>
        </svg>
      </div>
      <ul class="nav__list">
        <li class="nav__list__item">
          <a href="#header" class="nav__list__link">Home</a>
        </li>
        <li class="nav__list__item">
          <a href="#made" class="nav__list__link">How it’s made?</a>
        </li>
        <li class="nav__list__item">
          <a href="#products" class="nav__list__link">Our products</a>
        </li>
        <li class="nav__list__item">
          <a href="#sellers" class="nav__list__link">Top sellers</a>
        </li>
        <li class="nav__list__item">
          <a href="#review" class="nav__list__link">Chocolate is loved</a>
        </li>
      </ul>
      <ul class="nav__icons__list">
        <li class="nav__icons__item">
          <a href="#" class="icon__list__link">
            <svg class="nav__list__icon" width="24px" height="24px">
              <use href="./img/icons/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="nav__icons__item">
          <a href="#" class="icon__list__link">
            <svg class="nav__list__icon" width="24px" height="24px">
              <use href="./img/icons/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <!-- <button type="button" class="burger__button" data-menu-open>
      <svg class="burger__icon">
        <use href="./img/icons/symbol-defs.svg#icon-menu-03-mobile"></use>
      </svg>
    </button> -->
  </div>
</header>
