<header id="header" class="header__section">
  <div class="container">
    <nav class="header__nav">
      <div class="logo__content">
        <a class="logo" href="#"
          ><span class="simply__logo">SIMPLY</span>CHOCOLATE
          <svg class="icon__logo__mobile">
            <use href="./img/icons/symbol-defs.svg#icon-chocolate-mobile"></use>
          </svg>
          <svg class="icon__logo__desktop">
            <use href="./img/icons/symbol-defs.svg#icon-chocolate"></use></svg
        ></a>
      </div>
      <ul class="nav__list">
        <li class="nav__list__item">
          <a href="#header" class="nav__list__link">Home</a>
        </li>
        <li class="nav__list__item">
          <a href="#made" class="nav__list__link">How it’s made?</a>
        </li>
        <li class="nav__list__item">
          <a href="#products" class="nav__list__link">Our products</a>
        </li>
        <li class="nav__list__item">
          <a href="#sellers" class="nav__list__link">Top sellers</a>
        </li>
        <li class="nav__list__item">
          <a href="#review" class="nav__list__link">Chocolate is loved</a>
        </li>
      </ul>
      <ul class="nav__icons__list">
        <li class="nav__icons__item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="icon__list__link"
          >
            <svg class="nav__list__icon" width="24px" height="24px">
              <use href="./img/icons/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="nav__icons__item">
          <a
            href="https://twitter.com/?lang=uk"
            target="_blank"
            class="icon__list__link"
          >
            <svg class="nav__list__icon" width="24px" height="24px">
              <use href="./img/icons/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button
        type="button"
        class="burger__button burger__button__mobile"
        data-menu-button
      >
        <svg class="burger__icon">
          <use href="/img/icons/symbol-defs.svg#icon-menu-03-mobile"></use>
        </svg>
      </button>
      <button
        type="button"
        class="burger__button burger__button__tablet"
        data-menu-button
      >
        <svg class="burger__icon__tablet">
          <use href="/img/icons/symbol-defs.svg#icon-menu-03"></use>
        </svg>
      </button>
    </nav>
  </div>
  <!-- Mobile-menu -->
  <div data-menu class="mobile__menu">
    <div class="container mobile__menu__container">
      <button data-menu-close class="close__btn" type="button">
        <svg class="close__btn__icon">
          <use href="/img/icons/symbol-defs.svg#icon-x"></use>
        </svg>
      </button>
      <div class="menu">
        <ul class="menu__list">
          <li class="menu__list__item">
            <a class="menu__list__link" href="#header">Home</a>
          </li>
          <li class="menu__list__item">
            <a class="menu__list__link" href="#made">How it’s made?</a>
          </li>
          <li class="menu__list__item">
            <a class="menu__list__link" href="#products">Our products</a>
          </li>
          <li class="menu__list__item">
            <a class="menu__list__link" href="#sellers">Top sellers</a>
          </li>
          <li class="menu__list__item">
            <a class="menu__list__link" href="#review">Chocolate is loved</a>
          </li>
        </ul>
        <ul class="menu__social__list">
          <li class="menu__social__item">
            <a
              target="_blank"
              class="menu__social__link"
              href="https://www.instagram.com/"
              ><svg class="menu__social__icon" width="24" height="24">
                <use
                  href="/img/icons/symbol-defs.svg#icon-instagram"
                ></use></svg
            ></a>
          </li>
          <li class="menu__social__item">
            <a
              target="_blank"
              class="menu__social__link"
              href="https://twitter.com/"
              ><svg class="menu__social__icon" width="24" height="24">
                <use href="/img/icons/symbol-defs.svg#icon-twitter"></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
