<div class="container">
  <section class="hero__section">
    <h1 class="hero__title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h1>
    <div class="hero__content">
      <ul class="hero__list">
        <li class="hero__list__item">
          <button type="button" class="hero__button buy">Buy now</button>
        </li>
        <li class="hero__list__item">
          <button type="button" class="hero__button how">How it’s made</button>
        </li>
      </ul>
      <a href="./advantages.html" class="hero__link">scroll down</a>
      <svg class="scroll__icon" width="22px" height="22px">
        <use href="/img/icons/symbol-defs.svg#icon-arrow"></use>
      </svg>
    </div>
  </section>
</div>
