<section class="ingredients__section">
  <div class="container reveal">
    <div class="ingredients__text__thumb">
      <h2 class="igredients__title">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="igredients__title__span">TASTE</span> SENSATION</h2>
      <p class="ingredients__text">
        At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.
      </p>
    </div>
    <ul class="ingredients__list">
      <li class="ingredients__list__item orange">
        <picture>
          <source
            srcset="/img/desktop/chocolate-desktop.png 1x, /img/desktop/chocolate-desktop@2x.png 2x"
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source srcset="/img/tablet/chocolate.png 1x, /img/tablet/chocolate@2x.png 2x" media="(min-width: 768px)" type="image/png" />
          <source srcset="/img/tablet/chocolate.png 1x, /img/tablet/chocolate@2x.png 2x" media="(max-width: 767px)" type="image/png" />
          <img src="#" alt="MILK CHOCOLATE" />
        </picture>
        <h4>MILK CHOCOLATE</h4>
      </li>
      <li class="ingredients__list__item white">
        <picture>
          <source srcset="/img/desktop/milk-desktop.png 1x, /img/desktop/milk-desktop@2x.png 2x" media="(min-width: 1200px)" type="image/png" />
          <source srcset="/img/tablet/milk.png 1x, /img/tablet/milk@2x.png 2x" media="(min-width: 768px)" type="image/png" />
          <source srcset="/img/tablet/milk.png 1x, /img/tablet/milk@2x.png 2x" media="(max-width: 767px)" type="image/png" />
          <img src="#" alt="MILK" />
        </picture>
        <h4>MILK</h4>
      </li>
      <li class="ingredients__list__item black">
        <picture>
          <source srcset="/img/desktop/nuts-desktop.png 1x, /img/desktop/nuts-desktop@2x.png 2x" media="(min-width: 1200px)" type="image/png" />
          <source srcset="/img/tablet/nuts.png 1x, /img/tablet/nuts@2x.png 2x" media="(min-width: 768px)" type="image/png" />
          <source srcset="/img/tablet/nuts.png 1x, /img/tablet/nuts@2x.png 2x" media="(max-width: 767px)" type="image/png" />
          <img src="#" alt="NUTS" />
        </picture>
        <h4>NUTS</h4>
      </li>
      <li class="ingredients__list__item white">
        <picture>
          <source srcset="/img/desktop/cocao-desktop.png 1x, /img/desktop/cocao-desktop@2x.png 2x" media="(min-width: 1200px)" type="image/png" />
          <source srcset="/img/tablet/cocao.png 1x, /img/tablet/cocao@2x.png 2x" media="(min-width: 768px)" type="image/png" />
          <source srcset="/img/tablet/cocao.png 1x, /img/tablet/cocao@2x.png 2x" media="(max-width: 767px)" type="image/png" />
          <img src="#" alt="SEMI-SWEET CHOCOLATE" />
        </picture>
        <h4>SEMI-SWEET CHOCOLATE</h4>
      </li>
    </ul>
  </div>
</section>
