<section class="ingredients__section">
  <div class="container reveal">
    <div class="ingredients__text__thumb">
      <h2 class="igredients__title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL
        <span class="igredients__title__span">TASTE</span> SENSATION
      </h2>
      <p class="ingredients__text">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>
    <ul class="ingredients__list">
      <li class="ingredients__list__item orange">
        <div class="ingredients_image">
          <picture>
            <source
              srcset="
                /img/desktop/chocolate-desktop.png    1x,
                /img/desktop/chocolate-desktop@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="
                /img/tablet/chocolate.png    1x,
                /img/tablet/chocolate@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                /img/tablet/chocolate.png    1x,
                /img/tablet/chocolate@2x.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />
            <img src="#" alt="MILK CHOCOLATE" />
          </picture>
        </div>
        <h4>MILK CHOCOLATE</h4>
        <div class="ingrediensts__overlay">
          <h4 class="ingrediensts__overlay__title">Milk chocolate</h4>
          <div class="ingrediensts__overlay__tumb">
            <button class="ingrediensts__overlay__button button_orange">
              chocolate
            </button>
            <button class="ingrediensts__overlay__button button_white">
              the benefits
            </button>
          </div>
          <p class="ingrediensts__overlay__text">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe, increasingly large amounts are consumed in
            China and Latin America.
          </p>
        </div>
      </li>
      <li class="ingredients__list__item white">
        <div class="ingredients_image">
          <picture>
            <source
              srcset="
                /img/desktop/milk-desktop.png    1x,
                /img/desktop/milk-desktop@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="/img/tablet/milk.png 1x, /img/tablet/milk@2x.png 2x"
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="/img/tablet/milk.png 1x, /img/tablet/milk@2x.png 2x"
              media="(max-width: 767px)"
              type="image/png"
            />
            <img src="#" alt="MILK" />
          </picture>
        </div>
        <h4>MILK</h4>
        <div class="ingrediensts__overlay">
          <h4 class="ingrediensts__overlay__title">Milke</h4>
          <div class="ingrediensts__overlay__tumb">
            <button class="ingrediensts__overlay__button button_orange">
              milk
            </button>
            <button class="ingrediensts__overlay__button button_white">
              the benefits
            </button>
          </div>
          <p class="ingrediensts__overlay__text">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system, and thus reduces the
            risk of many diseases. Milk contains many nutrients, including
            protein and lactose.
          </p>
        </div>
      </li>
      <li class="ingredients__list__item black">
        <div class="ingredients_image">
          <picture>
            <source
              srcset="
                /img/desktop/nuts-desktop.png    1x,
                /img/desktop/nuts-desktop@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="/img/tablet/nuts.png 1x, /img/tablet/nuts@2x.png 2x"
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="/img/tablet/nuts.png 1x, /img/tablet/nuts@2x.png 2x"
              media="(max-width: 767px)"
              type="image/png"
            />
            <img src="#" alt="NUTS" />
          </picture>
        </div>
        <h4>NUTS</h4>
        <div class="ingrediensts__overlay">
          <h4 class="ingrediensts__overlay__title">Nuts</h4>
          <div class="ingrediensts__overlay__tumb">
            <button class="ingrediensts__overlay__button button_orange">
              nuts
            </button>
            <button class="ingrediensts__overlay__button button_white">
              the benefits
            </button>
          </div>
          <p class="ingrediensts__overlay__text">
            Almonds, pistachios, and walnuts are some types of nuts that contain
            healthy nutrients. When eaten as part of a nutrient-dense diet,
            these 9 nuts may offer benefits such as reducing your risk of heart
            disease. They’re a good source of fiber, healthy fats, and plant
            protein. Plus, they’re great on their own, paired with fruit, or
            added to dishes like salads, desserts, and grains.
          </p>
        </div>
      </li>
      <li class="ingredients__list__item white">
        <div class="ingredients_image">
          <picture>
            <source
              srcset="
                /img/desktop/cocao-desktop.png    1x,
                /img/desktop/cocao-desktop@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />
            <source
              srcset="/img/tablet/cocao.png 1x, /img/tablet/cocao@2x.png 2x"
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="/img/tablet/cocao.png 1x, /img/tablet/cocao@2x.png 2x"
              media="(max-width: 767px)"
              type="image/png"
            />
            <img src="#" alt="SEMI-SWEET CHOCOLATE" />
          </picture>
        </div>
        <h4>SEMI-SWEET CHOCOLATE</h4>
        <div class="ingrediensts__overlay">
          <h4 class="ingrediensts__overlay__title">semi - sweet chocolate</h4>
          <div class="ingrediensts__overlay__tumb">
            <button class="ingrediensts__overlay__button button_orange">
              sweet chocolate
            </button>
            <button class="ingrediensts__overlay__button button_white">
              the benefits
            </button>
          </div>
          <p class="ingrediensts__overlay__text">
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
            the best ways to gain an understanding of this type of chocolate is
            to compare it to a different type of chocolate. Semisweet is darker
            than milk chocolate. In a taste comparison, it has a slightly bitter
            taste whereas milk chocolate is sweeter and more mellow. This
            delectable flavor of chocolate is very versatile.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
