<section class="made">
    <div class="container">
        <h2 class="made__title">HOW IT'S <span class="made__title__span">MADE?</span></h2>
        <div class="made__wrapper">
            <div class="made__video">

                <!-- <source srcset="/src/img/desktop/made.jpg 1x,/src/img/desktop/made@2x.jpg  2x"
                        media="(min-width: 1200px)" type="image/jpg" />
                    <source srcset="/src/img/tablet/made.jpg 1x, /src/img/tablet/made@2x.jpg 2x"
                        media="(min-width: 768px)" type="image/jpg" />
                    <source srcset="/src/img/mobile/made.jpg 1x, /src/img/mobile/made@2x.jpg 2x"
                        media="(max-width: 767px)" type="image/jpg" /> -->
                <img src="/img/desktop/made.jpg" class="made__img" alt="How it's made?" />

                <button class="made__button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
                        <path d="M15 33V12L35 22.5L15 33Z" fill="#F5F4F4" />
                        <circle cx="22" cy="22" r="21.5" stroke="white" />
                    </svg>
                </button>
            </div>
            <div class="made__div">
                <h3 class="made__subtitle">Try our chocolates today and discover the perfect balance of flavor</h3>
                <ul class="made__list">
                    <li class="made__list__item">Heat the milk in a saucepan without bringing it to a boil. Add
                        sugar
                        and
                        cocoa powder.</li>
                    <li class="made__list__item">At the same time, prepare a water bath. Melt the butter on it.</li>
                    <li class="made__list__item">"Mix" the milk mixture and already liquid butter. Mix thoroughly
                        with a
                        silicone spatula so that the mass becomes uniform and silky.</li>
                    <li class="made__list__item">Heat the mixture over low heat, letting it barely boil.</li>
                    <li class="made__list__item">Pour the chocolate into special containers (can be replaced with
                        ice
                        molds). Allow to cool and harden.</li>
                </ul>
            </div>
        </div>
    </div>
</section>