<div class="buy-modal modal" data-modal="1" id="js-buy-now-modal">
  <button class="modal__close-btn js-modal-close">
    <svg class="modal__close__icon">
      <use href="./img/icons/symbol-defs.svg#icon-x-mobile"></use>
    </svg>
  </button>
  <h2 class="modal__title">
    <span class="modal__title--colored">BUY</span> NOW
  </h2>
  <div class="swiper modal__swiper">
    <ul class="modal__swiper__list swiper-wrapper">
      <li class="modal__list__item swiper-slide">
        <img
          srcset="
            /img/modal-images/img-1.png    1x,
            /img/modal-images/img-1@2x.png 2x
          "
          src="#"
          alt="chocolate slice"
        />
        <button type="button" class="modal__list__button">100 g</button>
      </li>
      <li class="modal__list__item swiper-slide">
        <img
          srcset="
            /img/modal-images/img-2.png    1x,
            /img/modal-images/img-2@2x.png 2x
          "
          src="#"
          alt="white chocolate"
        />
        <button type="button" class="modal__list__button">200 g</button>
      </li>
      <li class="modal__list__item swiper-slide">
        <img
          srcset="
            /img/modal-images/img-3.png    1x,
            /img/modal-images/img-3@2x.png 2x
          "
          src="#"
          alt="milk chocolate"
        />
        <button type="button" class="modal__list__button">300 g</button>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
  </div>
  <form class="modal__form" action="">
    <label class="modal__label">
      <span class="modal__input__title">Personal information</span>
      <div class="modal__form__field modal__form__field__info">
        <input
          placeholder="Name"
          type="text"
          class="modal__form__input input-js"
          pattern="\w{2,25}"
          required
        />
        <input
          placeholder="Surname"
          type="text"
          class="modal__form__input input-js"
          pattern="\w{2,25}"
        />
      </div>
    </label>
    <label class="modal__label">
      <span class="modal__input__title">Email</span>
      <input
        placeholder="Enter your email"
        type="email"
        class="modal__form__input input-js"
        pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
      />
    </label>
    <label class="modal__label">
      <span class="modal__input__title">Phone number</span>
      <div class="modal__phone-thumb">
        <div class="modal__phone-content">
          <span class="phone__text">+380</span>
          <svg class="phone__icon">
            <use href="./img/icons/symbol-defs.svg#icon-Ukraine"></use>
          </svg>
        </div>
        <input
          placeholder="Phone number"
          type="tel"
          class="modal__form__input input__phone input-js"
          pattern="\d{9,9}"
        />
      </div>
    </label>
    <label class="modal__label">
      <span class="modal__input__title">Card number</span>
      <div class="modal__form__field">
        <div class="modal__card__thumb">
          <input
            placeholder="Enter card"
            type="number"
            class="modal__form__input input-js"
            pattern="\d{8,8}"
          />
          <svg class="card__icon">
            <use href="./img/icons/symbol-defs.svg#icon-Mastercard"></use>
          </svg>
        </div>
      </div>
    </label>
    <label class="modal__label">
      <span class="modal__input__title">Comment</span>
      <textarea
        placeholder="Enter text"
        type="text"
        name="comment"
        cols="30"
        rows="10"
        class="modal__form__input__comment"
      ></textarea>
    </label>
    <button type="submit" class="modal__button" id="js-thanks-buy-now-modal">
      Submit
    </button>
  </form>
</div>
<div class="overlay js-overlay-modal"></div>
