<section class="products">
    <div class="container">
        <h2 class="products__title">OUR <span class="products__title__span">PRODUCTS</span></h2>
        <div class="swiper products__swiper">
            <ul class="products__list swiper-wrapper">
                <li class="products__item swiper-slide">
                    <img src="/img/desktop/orange.png" class="products__item__img" alt="chocolate">
                    <h3 class="products__item__title">ORANGE</h3>
                    <p class="products__item__text">Dark chocolate</p>
                    <button class="products__item__price">45 UAH</button>
                </li>
                <li class="products__item swiper-slide">
                    <img src="/img/desktop/apple.png" class="products__item__img" alt="chocolate">
                    <h3 class="products__item__title">APPLE&CRANBERRY</h3>
                    <p class="products__item__text">Milk chocolate</p>
                    <button class="products__item__price">50 UAH</button>
                </li>
                <li class="products__item swiper-slide">
                    <img src="/img/desktop/lime.png" class="products__item__img" alt="chocolate">
                    <h3 class="products__item__title">LIME&SEA SALT</h3>
                    <p class="products__item__text">Dark chocolate</p>
                    <button class="products__item__price">66 UAH</button>
                </li>
                <li class="products__item swiper-slide">
                    <img src="/img/desktop/pineapple.png" class="products__item__img" alt="chocolate">
                    <h3 class="products__item__title">PINEAPPLE</h3>
                    <p class="products__item__text">Dark chocolate</p>
                    <button class="products__item__price">54 UAH</button>
                </li>
                <li class="products__item swiper-slide">
                    <img src="/img/desktop/classic-milk.png" class="products__item__img" alt="chocolate">
                    <h3 class="products__item__title">CLASSIC</h3>
                    <p class="products__item__text">Milk chocolate</p>
                    <button class="products__item__price">45 UAH</button>
                </li>
                <li class="products__item swiper-slide">
                    <img src="/img/desktop/honey.png" class="products__item__img" alt="chocolate">
                    <h3 class="products__item__title">HONEY</h3>
                    <p class="products__item__text">Milk chocolate</p>
                    <button class="products__item__price">50 UAH</button>
                </li>
                <li class="products__item swiper-slide">
                    <img src="/img/desktop/roasted-fruits.png" class="products__item__img" alt="chocolate">
                    <h3 class="products__item__title">ROASTED FRUITS</h3>
                    <p class="products__item__text">Dark chocolate</p>
                    <button class="products__item__price">66 UAH</button>
                </li>
                <li class="products__item swiper-slide">
                    <img src="/img/desktop/classic-white.png" class="products__item__img" alt="chocolate">
                    <h3 class="products__item__title">CLASSIC</h3>
                    <p class="products__item__text">White chocolate</p>
                    <button class="products__item__price">54 UAH</button>
                </li>
            </ul>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>