<section class="review__section">
  <div class="container">
    <h2 class="review__title">
      <span class="review__choco">CHOCOLATE</span> IS LOVED
    </h2>
    <ul class="review__list">
      <li class="review__card">
        <picture>
          <source
            srcset="
              /img/peoples/victoria.png    1x,
              /img/peoples/victoria@2x.png 2x
            "
            media="(min-width: 1px)"
            type="image/png"
          />
          <img class="review__image" src="#" alt="Victoria" />
        </picture>
        <h3 class="review__card__name">Victoria Dobrzhanska</h3>
        <p class="review__card__text">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
      <li class="review__card">
        <picture>
          <source
            srcset="/img/peoples/nazar.png 1x, /img/peoples/nazar@2x.png 2x"
            media="(min-width: 1px)"
            type="image/png"
          />
          <img class="review__image" src="#" alt="Nazar" />
        </picture>
        <h3 class="review__card__name">Nazar Babenko</h3>
        <p class="review__card__text">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li class="review__card">
        <picture>
          <source
            srcset="/img/peoples/olena.png 1x, /img/peoples/olena@2x.png 2x"
            media="(min-width: 1px)"
            type="image/png"
          />
          <img class="review__image" src="#" alt="Olena" />
        </picture>
        <h3 class="review__card__name">Olena Kampusch</h3>
        <p class="review__card__text">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
      <li class="review__card">
        <picture>
          <source
            srcset="/img/peoples/natalia.png 1x, /img/peoples/natalia@2x.png 2x"
            media="(min-width: 1px)"
            type="image/png"
          />
          <img class="review__image" src="#" alt="Natalia" />
        </picture>
        <h3 class="review__card__name">Natalia Sus</h3>
        <p class="review__card__text">
          The chocolate assortment was delicious. Both dark and milk chocolate
          pieces were smooth and just right on the sweetness level.
        </p>
      </li>
      <li class="review__card">
        <picture>
          <source
            srcset="/img/peoples/danilo.png 1x, /img/peoples/danilo@2x.png 2x"
            media="(min-width: 1px)"
            type="image/png"
          />
          <img class="review__image" src="#" alt="Danilo" />
        </picture>
        <h3 class="review__card__name">Danilo Nottingham</h3>
        <p class="review__card__text">
          This is delicious. It so rich and flavorful you don’t need to use as
          many. I love topping an apple with almond butter and these chips for a
          snack.
        </p>
      </li>
      <li class="review__card">
        <picture>
          <source
            srcset="/img/peoples/irina.png 1x, /img/peoplesirina@2x.png 2x"
            media="(min-width: 1px)"
            type="image/png"
          />
          <img class="review__image" src="#" alt="Irina" />
        </picture>
        <h3 class="review__card__name">Irina Tydnyuk</h3>
        <p class="review__card__text">
          This is simply the best chocolate around, and I'm just thrilled to
          support a local company! Best local chocolate - world class (smiley)
        </p>
      </li>
    </ul>
    <button type="button" class="review__button">Leave a review</button>
  </div>
</section>
