<section id="review" class="review__section">
  <div class="container reveal">
    <h2 class="review__title">
      <span class="review__choco">CHOCOLATE</span> IS LOVED
    </h2>
    <div class="swiper review__swiper">
      <ul class="review__list swiper-wrapper">

        <li class="review__item swiper-slide">
          <img
            srcset="
              ../img/peoples/victoria.png    1x,
              ../img/peoples/victoria@2x.png 2x
            "
            src="../img/peoples/victoria.png"
            alt="Victoria"
            class="review__image"
          />
          <h3 class="review__item__name">Victoria Dobrzhanska</h3>
          <p class="review__item__text">

            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </li>
        <li class="review__item swiper-slide">
          <img
            srcset="../img/peoples/nazar.png 1x, ../img/peoples/nazar@2x.png 2x"
            src="../img/peoples/nazar.png"
            alt="Nazar"
            class="review__image"
          />
          <h3 class="review__item__name">Nazar Babenko</h3>
          <p class="review__item__text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </li>
        <li class="review__item swiper-slide">
          <img
            srcset="../img/peoples/olena.png 1x, ../img/peoples/olena@2x.png 2x"
            src="../img/peoples/olena.png"
            alt="Olena"
            class="review__image"
          />
          <h3 class="review__item__name">Olena Kampusch</h3>
          <p class="review__item__text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </li>
        <li class="review__item swiper-slide">
          <img
            srcset="
              ../img/peoples/natalia.png    1x,
              ../img/peoples/natalia@2x.png 2x
            "
            src="../img/peoples/natalia.png"
            alt="Natalia"
            class="review__image"
          />
          <h3 class="review__item__name">Natalia Sus</h3>
          <p class="review__item__text">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </li>
        <li class="review__item swiper-slide">
          <img
            srcset="
              ../img/peoples/danilo.png    1x,
              ../img/peoples/danilo@2x.png 2x
            "
            src="../img/peoples/danilo.png"
            alt="Danilo"
            class="review__image"
          />
          <h3 class="review__item__name">Danilo Nottingham</h3>
          <p class="review__item__text">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </li>
        <li class="review__item swiper-slide">
          <img
            srcset="../img/peoples/irina.png 1x, ../img/peoples/irina@2x.png 2x"
            src="../img/peoples/irina.png"
            alt="Irina"
            class="review__image"
          />
          <h3 class="review__item__name">Irina Tydnyuk</h3>
          <p class="review__item__text">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class (smiley)
          </p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
    <button type="button" class="review__button">Leave a review</button>
  </div>
</section>
