<section class="review__section">
  <div class="container">
    <h2 class="review__title">
      <span class="review__choco">CHOCOLATE</span> IS LOVED
    </h2>
    <ul class="review__list">
      <li class="review__card">
        <picture>
          <source
            srcset="
              /img/peoples/victoria.png    1x,
              /img/peoples/victoria@2x.png 2x
            "
            media="(min-width: 1px)"
            type="image/png"
          />
          <img class="review__image" src="#" alt="Victoria" />
        </picture>
        <h3 class="review__card__name">Victoria Dobrzhanska</h3>
        <p class="review__card__text">
          I love this chocolate bar. Perfect combination <br />
          of light crispy wafer, covered in a thin layer <br />
          chocolate.
        </p>
      </li>
      <li class="review__card">
        <picture>
          <source
            srcset="/img/peoples/nazar.png 1x, /img/peoples/nazar@2x.png 2x"
            media="(min-width: 1px)"
            type="image/png"
          />
          <img class="review__image" src="#" alt="Nazar" />
        </picture>
        <h3 class="review__card__name">Nazar Babenko</h3>
        <p class="review__card__text">
          This chocolate confection is a delight! A <br />
          delight! The wafer is light and crisp, the <br />
          hazelnut cream is smooth, and the chocolate <br />
          is good.
        </p>
      </li>
      <li class="review__card">
        <picture>
          <source
            srcset="/img/peoples/olena.png 1x, /img/peoples/olena@2x.png 2x"
            media="(min-width: 1px)"
            type="image/png"
          />
          <img class="review__image" src="#" alt="Olena" />
        </picture>
        <h3 class="review__card__name">Olena Kampusch</h3>
        <p class="review__card__text">
          Chocolate is a family favourite treat. Love the <br />
          delicious smooth chocolate and the <br />
          creaminess inside. The wafer is soft but <br />
          crunchy.
        </p>
      </li>
    </ul>
    <button type="button" class="review__button">Leave a review</button>
  </div>
</section>
